body {
  overflow-y: hidden;
  touch-action: manipulation;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
  background-color: #011F3F;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s all ease-in-out;
}

.high{
  position: fixed;
  top: 0%;
  /* left: 0%; */
  font-family: 'Poppins';
  font-size: 2vh;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 1rem 4rem;
  border-radius: 0px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  width: 100%;
  text-transform: uppercase;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 10%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.mod{
  background-color: #2a0134;
}

@media screen and (orientation:portrait) {
  .high{
    position: fixed;
    top: 2%;
    left: 25%;
    font-family: 'Poppins';
    font-size: 2vh;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 2rem 5rem;
    border-radius: 100px;
  }
  .btn {
    margin: 25px;
    display: inline-block;
    height: 30vw;
    width: 30vw;
    border: 10px solid black;
    border-radius: 10%;
  }
}